<?xml version= »1.0″ encoding= »UTF-8″ ?>
<rss version= »2.0″>
<channel>
<title>Nom du site</title>
<link>Lien du site</link>
<description>Description du site</description>

<item>
<title>Titre 1</title>
<link>Lien 1</link>
<description>Description 1</description>
<guid>100299304904</guid>
<pubDate>Sat, 01 Jan 2011 12:00:00 GMT</pubDate>
</item>

<item>
<title>Titre 2</title>
<link>Lien 2</link>
<description>Description 2</description>
<guid>100299304904</guid>
<pubDate>Sat, 01 Jan 2011 12:00:00 GMT</pubDate>
</item>
	
<item>
<title>Titre 3</title>
<link>Lien 3</link>
<description>Description 3</description>
<guid>100299304904</guid>
<pubDate>Sat, 01 Jan 2011 12:00:00 GMT</pubDate>
 </item>
	
<item>
<title>Titre 4</title>
<link>Lien 4</link>
<description>Description 4</description>
<guid>100299304904</guid>
<pubDate>Sat, 01 Jan 2011 12:00:00 GMT</pubDate>
</item>
	
<item>
<title>Titre 5</title>
<link>Lien 5</link>
<description>Description 5</description>
<guid>100299304904</guid>
<pubDate>Sat, 01 Jan 2011 12:00:00 GMT</pubDate>
</item>
	
<item>
<title>Titre 6</title>
<link>Lien 6</link>
<description>Description 6</description>
<guid>100299304904</guid>
<pubDate>Sat, 01 Jan 2011 12:00:00 GMT</pubDate>
</item>
	
<item>
<title>Titre 7</title>
<link>Lien 7</link>
<description>Description 7</description>
<guid>100299304904</guid>
<pubDate>Sat, 01 Jan 2011 12:00:00 GMT</pubDate>
</item>
	
<item>
<title>Titre 8</title>
<link>Lien 8</link>
<description>Description 8</description>
<guid>100299304904</guid>
<pubDate>Sat, 01 Jan 2011 12:00:00 GMT</pubDate>
</item>
	
<item>
<title>Titre 9</title>
<link>Lien 9</link>
<description>Description 9</description>
<guid>100299304904</guid>
<pubDate>Sat, 01 Jan 2011 12:00:00 GMT</pubDate>
</item>
	
<item>
<title>Titre 10</title>
<link>Lien 10</link>
<description>Description 10</description>
<guid>100299304904</guid>
<pubDate>Sat, 01 Jan 2011 12:00:00 GMT</pubDate>
</item>
	
<item>
<title>Titre 11</title>
<link>Lien 11</link>
<description>Description 11</description>
<guid>100299304904</guid>
<pubDate>Sat, 01 Jan 2011 12:00:00 GMT</pubDate>
</item>
	
<item>
<title>Titre 12</title>
<link>Lien 12</link>
<description>Description 12</description>
<guid>100299304904</guid>
<pubDate>Sat, 01 Jan 2011 12:00:00 GMT</pubDate>
</item>
	
<item>
<title>Titre 13</title>
<link>Lien 13</link>
<description>Description 13</description>
<guid>100299304904</guid>
<pubDate>Sat, 01 Jan 2011 12:00:00 GMT</pubDate>
</item>
	
<item>
<title>Titre 14</title>
<link>Lien 14</link>
<description>Description 14</description>
<guid>100299304904</guid>
<pubDate>Sat, 01 Jan 2011 12:00:00 GMT</pubDate>
</item>
	
<item>
<title>Titre 15</title>
<link>Lien 15</link>
<description>Description 15</description>
<guid>100299304904</guid>
<pubDate>Sat, 01 Jan 2011 12:00:00 GMT</pubDate>
</item>
	

</channel>
</rss>